*{
	margin: 0px;
	padding: 0px;
}
.background{
	width: 100%;
	height: 1550px;
	background-image: url(3.jpg);
	background-position: center;
	background-size: cover;
}
.navbar{
	width: 85%;
	margin: 0px;
	padding: 15px; 
	align-items: center;
	justify-content: space-between;
	display: flex;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin:  15px;
	margin-left: 6px;
}
.navbar ul li a{
	text-decoration: none;
	color: grey;
	font-family: sans-serif;
	font-weight: bold;
	font-size:20px; 
}
.logo{
	width: 20%;
	height: 150px;
	border-radius: 360px;
}
.offer{
	padding-top: 37%;
	color: grey;
	font-size: 25px;

}
.columns {
  float: left;
  width: 32%;
  padding: 10px;
  padding-top: 5%;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
}

.price:hover {
  box-shadow: 0 8px 12px 0 
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
  color: grey;
}
input[type=submit] {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: black;
}
.subscriptionform {
   width: 100%;
  border-radius: 5px;
/*  background-color: black;*/
 /* top: 145%;*/
  color: grey;
  font-size: 20px;
  position: absolute;
  padding-top: 18%;
}
.footer{
	width: 100%;
	height: auto;
	background-color: black;
	color: grey;
}

.footer-items{
	 text-align: center;
	 align-items: center;
}
.footer-items h1{
	font-size: 50px;
	font-weight: bold; 
} /*footer head css*/
.footer-items p{
	font-size: 30px;
	margin: 30px;
}
.footer-bottom{
	 background: #000;
    width: 100%;
	padding-bottom: 40px;
}

.footer-bottom p{
   float: left;
   font-size: 18px;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-menu{
  float: right;
}

.footer-menu ul{
  display: flex;
}

.footer-menu ul li{
	padding-right: 10px;
	display: block;
}

.footer-menu ul li a{
  color: grey;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

